body {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #EDD3C4;
    color: #080708;
    
}
.link {
    color: #C8ADC0;

}

h1 {
    color: #3B60E4;
    font-size: 30px;
}
h2 {
    color: #7765E3;
}